@charset "UTF-8";

body {
    color: white;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / 1 / 5;
}

.caixa2 {
    background-color: green;
    grid-area: 4 / 1 / 2 / 3;

}

.caixa3 {
    background-color: blue;
    grid-area: 4 / 3 / 2 / 5;
}