@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2594B, #F2F2F2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  #0C1A26;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #048C7F;
    text-align: center;
    text-shadow: 1px 1px 0px #046359b4;
}

h2 {
    color: #F22613;
}

p {
    text-align: justify;
}